@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

<div @Kit.Toolbar.Default(MyItem)>

  <h1>Welcome to Your Empty App</h1>

  <div class="alert alert-secondary">
    This is an empty template app with a few tips to get you started. <br>
    You are seeing <code>/Default.cshtml</code> since it's the first an only view in this App as of now. <br>
    Click out the <a href="https://docs.2sxc.org">📖 docs</a> to get started.
  </div>

  <hr>

  <p>
    You can basically replace anything in here to create your own app.
  </p>
</div>